### These files should get ignored no matter where they appear.

autom4te.cache
aclocal.m4
compile
depcomp
config.h.in
config.h.in~
ltmain.sh
install-sh
missing

Makefile.in
build/Makefile.in
build/win32/Makefile.in
build/win32/dirent/Makefile.in
build/win32/vs10/Makefile.in
build/win32/vs11/Makefile.in
build/win32/vs12/Makefile.in
build/win32/vs14/Makefile.in
build/win32/vs9/Makefile.in
config.sub
config.guess
configure
INSTALL
gio/Makefile.in
gio/fam/Makefile.in
gio/inotify/Makefile.in
gio/tests/Makefile.in
gio/win32/Makefile.in
gio/xdgmime/Makefile.in
glib/Makefile.in
glib/gnulib/Makefile.in
glib/libcharset/Makefile.in
glib/pcre/Makefile.in
glib/tests/Makefile.in
glib/update-pcre/Makefile.in
gmodule/Makefile.in
gobject/Makefile.in
gobject/tests/Makefile.in
gthread/Makefile.in
m4macros/Makefile.in
tests/Makefile.in
tests/gobject/Makefile.in
tests/refcount/Makefile.in
README

m4macros/libtool.m4
m4macros/ltoptions.m4
m4macros/ltsugar.m4
m4macros/ltversion.m4
m4macros/lt~obsolete.m4
docs/Makefile.in
docs/reference/Makefile.in
docs/reference/gio/Makefile.in
docs/reference/glib/Makefile.in
docs/reference/gobject/Makefile.in
gio/gdbus-2.0/codegen/Makefile.in
gio/kqueue/Makefile.in
gio/tests/gdbus-object-manager-example/Makefile.in
gio/tests/modules/Makefile.in
gio/tests/services/Makefile.in
